body {
  width: 400px;
  font-family: "Lato";
}
.header {
  padding-top: 23px;
  padding-bottom: 15px;
  display: flex;
  border-bottom: 1px solid white;
  align-items: center;
  justify-content: center;
}
.redFlagFound {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: antiquewhite;
}
#myDiv {
  text-align: justify;
}
#errorDiv {
  align-items: center;
  text-align: justify;
}
